/*
 * Styles that apply to both text and image mode -- where needed they require a parent node with the id "playing".
 */

/* !! The behavior of the log area is right, but it isn't full height at the start. */

/* !! At the end of the game, the text of the log area overlaps the card counts. */

/* !! The card name display inside the span should be nowrap. */

/* !! The card count column widths are different for basic and kingdom cards. */

.playerEven, .playerEven * {
    background: #e7fefe;
}

.playerOdd, .playerOdd * {
    background: #feefd3;
}

.you, .you * {
	background-color: #dbf8db;
}
.trash, .trash * {
    background: #f2f2f2;
}

#playerData, #playerData * {
    vertical-align: top;
    text-align: right;
}

#playerData table {
    position: relative !important;
    border-collapse: collapse;
    margin: 0.1em 0.5em;
}

#playerData td {
    margin: 0;
    padding: 0.1em 0.5em;
}

.playerDataKey {
    white-space: nowrap;
    text-align: right;
}

.playerCardCountCol {
    padding: 0 0.25em;
    width: 1.5em;
    text-align: right;
}

.playerExtraCards:empty {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#playerData img {
    padding-right: 1ex;
    vertical-align: top;
    float: left;
}

.playerDataName {
    font-weight: bold;
}

.playerDataKey {
    font-style: italic;
}

.activePlayerData:empty {
    background: white;
}

.kingdom-column > *, .basic-column > * {
    display: table-row;
}

.kingdom-column > * > *, .basic-column > * > * {
    display: table-cell;
}

/* Cause the prices + count display for basic cards to be vertical just like for kingdom cards */
.imbasic > .imprice {
    display: inline-block;
}

html {
    height: 100%;
}

.playing #body {
    height: 100%;
    margin: 0 !important;
}

.playing #game {
    width: 100%;
    height: 100%;
}

#body.imageMode {
    display: table;
}

/*
 * Styles that apply only to image mode -- where needed they require a parent node with the id "imageMode".
 * Classes and ID's that exist only in image mode don't need that qualification
 */

.imageMode #game {
    display: table-row !important;
}

.imageMode #supply {
    position: static !important;
    display: table-cell !important;
    width: auto !important;
    left: inherit !important;
    bottom: inherit !important;
    vertical-align: bottom;
}

.imageMode #supply > table {
    bottom: inherit !important;
    position: static !important;
}

.imageMode #playerData {
    border-bottom: black 1px groove;
}

.playing #right {
    padding-left: 1em;
    margin-left: auto !important;
    vertical-align: bottom;
    width: 100%;
    display: table-cell;
}

.playing #log {
    height: auto !important;
    overflow-y: auto;
    margin-left: 2em;
}

.playing #log > .logline > div[style] {
    height: 0 !important;
}

/*
 * Styles that apply only to image mode -- where needed they require a parent node with the id "imageMode".
 * Classes and ID's that exist only in image mode don't need that qualification
 */

#playerDataArranger, #logContainer {
    height: 100%;
    width: 100%;
}

.avail {
    text-align: right;
}